@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure App Services Technical Briefing Demo</h1>
    <p>This demo is intended for the Azure App Services Technical Briefing created by the Digital & App Innovation team at Microsoft.</p>
    <p><strong>Server Name:</strong> @Environment.MachineName.ToString()</p>
    <p>Version 1.3</p>
</div>
